*,
:after,
:before {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: #fff;
    color: #000;
    font: 16px Helvetica, sans-serif;
    line-height: 1.6rem;
}

a:link {
    color: #306090;
}

a:visited {
    color: #603090;
}

hr {
    background-color: #ddd;
    height: 1px;
    border: 0;
    margin: 0;
    padding: 0;
}

#head {
    color: #888;
    margin: 1rem;
}

#head a {
    margin: 0 0.25rem;
}

#body {
    margin: 1rem;
}

#body > :first-child {
    margin-top: 0;
}

#body > :last-child {
    margin-bottom: 0;
}

#body li {
    padding: 0.5rem;
}

#body ul {
    margin: 1rem 0;
    padding-left: 1rem;
}

#body code {
    font: 1rem Georgia, serif;
}

#body pre {
    border-left: 1px solid #ddd;
    padding: 1rem 0 1rem 1rem;
}

#body .meta {
    color: #888;
}

#foot {
    color: #888;
    margin: 1rem;
}
