{{ with .Resources.GetMatch "feature.png" }}
    <style>
        main pre { 
            background-image: url({{ .RelPermalink | safeCSS }});
        }

        main code {
            background: rgb(0, 0, 0);
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.625) 15%, rgba(0, 0, 0, 0.10) 100%);
            color: white; 
            text-shadow: 2px 2px 4px #000;
        }

        @media print {
            main pre {
                background-image: none;
            }

            main code {
                background: none white;
                color: black;
                text-shadow: none;
            }
        }
    </style>        
{{ end }}