{{ $id := .Slug }}
{{ with .Resources.GetMatch "feature.jpg" }}
    <style>
        #{{ $id }} pre {
            background-image: url({{ .RelPermalink | safeCSS }});
        }

        #{{ $id }} code {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 15%, rgba(0, 0, 0, 0.10) 75%);
            color: white;
            text-shadow: 2px 2px 4px #000;
        }

        @media print {
            #{{ $id }} pre {
                background-image: none;
            }

            #{{ $id }} code {
                background: none white;
                color: black;
                text-shadow: none;
            }
        }
    </style>
{{ end }}