{{ define "main" }}

<article>
    <h2> <a href="{{ .RelPermalink }}">{{ .Title }}</a> </h2>  

    {{ .Content }}

    {{ range (.Site.RegularPages.GroupByDate "January 2006")  }}
        {{ if (where .Pages "Type" "posts") }}
            <h3> {{ .Key }} </h3>
            <ul>
                {{ range .Pages }}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        <span class="meta">{{- .Date.Format "2 January 2006" -}}</span> 
                    </li>
                {{ end }}
            </ul>
        {{ end }}
    {{ end }}
</article>

{{ end }}
