{{ $style := resources.Match "*.scss" | resources.Concat "style.css" | toCSS | minify | fingerprint }}
<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="color-scheme" content="light dark">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ .Site.Title }} - {{ .Title }}</title>
        {{ partial "site/meta.html" . }}

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">
        <link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}posts/index.xml">
    </head>

    <body>
        <header>
            <h1> <a href="/">{{ .Site.Title }}</a> </h1>
        </header>

        <nav>
            <input type="checkbox" id="menu">
            <ul>
                {{ range .Site.Params.menu }}
                    <li> {{ . | safeHTML }} </li>
                {{ end }}
            </ul>
            <label for="menu">menu</label>
        </nav>

        <main>
            {{ block "main" . }} {{ end }}
        </main>

        <footer>
            <p> © {{ .Site.Params.author }} {{ now.Format "2006" }}. </p>
            <p> {{ .Site.Params.footer | .RenderString }} </p>
        </footer>
    </body>

</html>
