{{ define "main" }}

<h2> <a href="{{ .RelPermalink }}">{{ .Title }}</a> </h2>

{{ if eq .Type "posts" }}
<p class="meta">
	Written {{ .Date.Format "2 January 2006" }}

	&bull; {{ range sort (.GetTerms "categories") "Name" }}
	{{ partial "cat.html" . }}
	{{ end }}

	&bull; {{ range sort (.GetTerms "tags") "Name" }}
	{{ partial "tag.html" . }}
	{{ end }}
</p>
{{ end }}

{{ .Content }}

{{ if or .NextInSection .PrevInSection }}
<ul class="meta">
	{{ with .PrevInSection }}
	<li> Previous: {{ partial "link.html" . }} </li>
	{{ end }}
	{{ with .NextInSection }}
	<li> Next: {{ partial "link.html" . }} </li>
	{{ end }}
</ul>
{{ end }}

{{ end }}
