{{ define "main" }}

<article>
    <h2>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>

    {{ partial "post-meta.html" . }}
    {{ .Content }}

    {{ if eq .Type "posts" }}
    <ul class="meta">
        {{ with .PrevInSection }}
        <li> Previous: <a href="{{ .RelPermalink }}">{{ .Title }}</a> </li>
        {{ end }}

        {{ with .NextInSection }}
        <li> Next: <a href="{{ .RelPermalink }}">{{ .Title }}</a> </li>
        {{ end }}
    </ul>
    {{ end }}
</article>

{{ end }}
