{{ define "main" }}

<h2>
	<a href="{{ .RelPermalink }}">{{ .Title }}</a>
	{{- partial "emoji.html" . -}}
</h2>

{{ if eq .Type "posts" }}
<p class="meta">
	Written {{ .Date.Format "2 January 2006" }}

	&bull; {{ range .GetTerms "categories" }}
	{{ partial "cat.html" . }}
	{{ end }}

	&bull; {{ range .GetTerms "tags" }}
	{{ partial "tag.html" . }}
	{{ end }}
</p>
{{ end }}

{{ .Content }}

{{ if eq .Type "posts" }}
<ul class="meta">
	{{ with .PrevInSection }}
	<li> Previous: {{ partial "link.html" . }} </li>
	{{ end }}

	{{ with .NextInSection }}
	<li> Next: {{ partial "link.html" . }} </li>
	{{ end }}
</ul>
{{ end }}

{{ end }}
