/*** Sass Helper Functions ***/

// @anchor defines anchor colours and text decorations.
@mixin anchor($blue, $purp, $blue-hi, $purp-hi, $deco) {
    &:link {
        color: $blue;
    }

    &:visited {
        color: $purp;
    }

    &:link:active, &:link:hover {
        color: $blue-hi;
        text-decoration: underline;
    }

    &:visited:active, &:visited:hover {
        color: $purp-hi;
        text-decoration: underline;
    }

    @if $deco {
        &:link, &:visited {
            text-decoration: underline;
        }

    } @else {
        &:link, &:visited {
            text-decoration: none;
        }
    }
}

// @button defines button colours and shaping.
@mixin button($fore, $back, $grey-hi, $grey-lo) {
    @include anchor($fore, $fore, $back, $back, false)
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    text-decoration: none;

    &:link, &:visited {
        background: $grey-hi;
    }

    &:link:active, &:visited:active,
    &:link:hover, &:visited:hover, {
        background: $grey-lo;
    }
}
