/*** Header & Navigation Styles ***/

header {
    margin: 0.25rem 0 1.5rem 0;
    text-align: center;

    h1 {
        font-size: 3.5rem;
        font-weight: 900;
        margin: 0;
        padding: 2rem 0 0.5rem;
    }

    input, label {
        display: none;
    }
}

nav {
    margin-top: 1.5rem;

    li {
        display: inline-block;
        margin: 0 0.5rem;
    }

    ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
}
