*, :after, :before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

body, code {
    font-family: Figtree, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.8rem;
}

header {
    background-color: #258;
    background-image: url("/cloud.svg");
    color: #000;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.25rem #000;

    h1 {
        font-size: 2.25rem;
        margin: 0;
        padding-top: 1rem;

        a:link, a:visited {
            background-color: transparent;
            color: #fff;
            text-decoration: none;

            &:active, &:hover {
                background-color: transparent;
                color: #fff;
                text-decoration: underline;
            }
        }
    }

    input, label {
        display: none;
    }
}

nav {
    ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }

    li {
        display: inline-block;
        padding: 0;

        a:link, a:visited {
            background-color: transparent;
            color: #fff;
            display: block;
            font-weight: bold;
            padding: 0.25rem 0.75rem;
            text-decoration: none;

            &:active, &:hover {
                background-color: #fff;
                color: #258;
                text-shadow: none;
            }
        }
    }
}

main {
    margin: 0 auto;
    max-width: 70ch;
    padding: 0 1rem;
    width: 100%;

    hr {
        margin: 2rem auto;
        width: 75%;
    }

    pre {
        padding: 0.5rem 1rem;

        code {
            font-size: 1.2rem;
            line-height: 2em;
        }
    }

    ol, ul {
        line-height: 2.25rem;
        padding-left: 1rem;
    }
}

footer {
    margin: 0 auto;
    max-width: 70ch;
    padding: 0 1rem;
    text-align: center;
}

.alert {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

.cloud a {
    line-height: 2rem;
    margin: 0.25rem;
}

a.emoji {
    text-decoration: none;
}
