///////////////////////////////////////////////////////////////////////////////////////
//                               Basic Site Stylesheet                               //
///////////////////////////////////////////////////////////////////////////////////////

// Variable Definitions
////////////////////////

$back: #14171F;
$fore: #F3E9DB;
$warn: #862319;
$lite: desaturate(lighten($back, 60), 0);
$dark: lighten($back, 10);
$blue: saturate(lighten($back, 60), 25);
$purp: adjust-hue($blue, 50deg);

// Mixins
//////////

@mixin border() {
    border: 0.25rem solid $dark;
    border-radius: 0.5rem;
}

@mixin button() {
    background: $dark;
    border: 0.15rem solid $back;
    border-radius: 0.5rem;
    color: $fore;
    padding: 0.45rem 0.75rem;

    &:link,
    &:visited {
        text-decoration: none;
    }

    &:hover,
    &:active {
        color: $fore;
        text-decoration: underline;
    }
}

// Global Elements
///////////////////

*,
:after,
:before {
    box-sizing: border-box;
}

/* convert to locally hosted font files!!! */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

html,
code,
pre {
    font-family: Inter, sans-serif, system-ui;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
}

body {
    background: $back;
    color: $fore;
}

main,
footer {
    margin: 1rem auto;
    max-width: 60ch;
}

// Generic Elements
////////////////////

a {
    &:link {
        color: $blue;
        text-decoration: underline;
    }

    &:visited {
        color: $purp;
        text-decoration: underline;
    }

    &:link:active,
    &:link:hover {
        color: lighten($blue, 10);
        text-decoration: underline;
    }

    &:visited:active,
    &:visited:hover {
        color: lighten($purp, 10);
        text-decoration: underline;
    }
}

article {
    margin: 2rem 0;
}

blockquote {
    @include border;
    margin: 1.5rem auto;
    padding: 0.5rem 1rem;
}

hr {
    @include border;
    margin: 3rem auto;
    width: 5rem;
}

img {
    height: auto;
    width: 100%;
}

ol,
ul {
    line-height: 1.8em;
    padding-left: 1rem;
}

pre {
    @include border;
    background-position: center;
    background-size: cover;
    padding: 0;

    code {
        border-radius: 0.5rem;
        display: block;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 2.75rem;
        padding: 0.75rem 1rem;
    }

    &.feature code {
        background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 0.2) 100%);
        color: $fore;
        text-shadow: 0.125rem 0.125rem 0.25rem #000;
    }
}

// Header & Navigation Elements
////////////////////////////////

header {
    background-color: $back;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23282e3e' fill-opacity='1' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
    border-bottom: 0.15rem solid $dark;
    text-align: center;

    a {

        &:link,
        &:visited {
            color: $fore;
            text-decoration: none;
        }

        &:link:active,
        &:link:hover,
        &:visited:active,
        &:visited:hover {
            color: lighten($fore, 10);
        }
    }

    h1 {
        font-size: 4rem;
        font-weight: 900;
        margin: 0;
        padding: 2rem 0 1rem;
        text-shadow: 0.2rem 0.2rem 0 $back;
    }

    input,
    label {
        color: $lite;
        display: none;
    }
}

nav {
    a {
        @include button;
        display: block;
        padding: 0.25rem 0.75rem;
        margin: 0;
    }

    li {
        display: inline-block;
        margin: 0 0.125rem;
    }

    ul {
        list-style-type: none;
        text-align: center;
    }
}

// Custom Elements
///////////////////

a.button {
    @include button;
}

div.meta {
    color: $lite;
}

div.navs {
    margin: 1rem 0;

    a {
        @include button;

        &.left {
            float: left;
        }

        &.right {
            float: right;
        }
    }

    br {
        clear: both;
    }
}

div.list li span {
    color: $lite;
    float: right;
}

h2~div.meta {
    margin: -0.5rem 0 1rem;
}

p.themes {
    text-align: center;

    a {
        margin: 0.125rem;
    }
}

table.tags {
    border-collapse: collapse;
    width: 100%;

    a {
        margin: 0.125rem;
    }

    td {
        padding: 1rem 0;
    }

    td:first-child {
        font-size: 1.25rem;
        font-weight: bold;
        padding: 1rem 0;
        text-align: center;
        width: 10%;
    }

    tr:not(:last-child) {
        border-bottom: 0.25rem solid $dark;
    }
}

// Footer Elements
///////////////////

footer {
    color: $lite;
    text-align: center;

    p {
        margin: 0.5rem;
    }
}
