///////////////////////////////////////////////////////////////////////////////////////
//                               Basic Site Stylesheet                               //
///////////////////////////////////////////////////////////////////////////////////////

// Variable Definitions
////////////////////////

$back: #14171F;
$fore: #F3E9DB;
$warn: #862319;
$lite: desaturate(lighten($back, 60), 0);
$dark: lighten($back, 10);
$blue: saturate(lighten($back, 60), 25);
$purp: adjust-hue($blue, 50deg);
$grad: linear-gradient(45deg, $dark 10%, lighten($dark, 15) 100%);

// Mixins
//////////

@mixin border() {
    border: 0.25rem solid $dark;
    border-radius: 0.5rem;
}

@mixin button() {
    background: $dark;
    border-radius: 0.5rem;
    color: $fore;
    padding: 0.375rem 0.75rem;

    &:link,
    &:visited {
        text-decoration: none;
    }

    &:hover,
    &:active {
        color: $fore;
        text-decoration: underline;
    }
}

// Global Elements
///////////////////

*,
:after,
:before {
    box-sizing: border-box;
}

/* convert to locally hosted font files!!! */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

html,
code,
pre {
    font-family: Inter, sans-serif, system-ui;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
}

body {
    background: $back;
    color: $fore;
}

main,
footer {
    margin: 1rem auto;
    max-width: 60ch;
}

// Generic Elements
////////////////////

a {
    &:link {
        color: $blue;
        text-decoration: underline;
    }

    &:visited {
        color: $purp;
        text-decoration: underline;
    }

    &:link:active,
    &:link:hover {
        color: lighten($blue, 10);
        text-decoration: underline;
    }

    &:visited:active,
    &:visited:hover {
        color: lighten($purp, 10);
        text-decoration: underline;
    }
}

article {
    margin: 2rem 0;
}

blockquote {
    @include border;
    margin: 1.5rem auto;
    padding: 0.5rem 1rem;
}

hr {
    @include border;
    margin: 3rem auto;
    width: 5rem;
}

img {
    height: auto;
    width: 100%;
}

ol,
ul {
    line-height: 1.8em;
    padding-left: 1rem;
}

pre {
    @include border;
    background-position: center;
    background-size: cover;
    padding: 0;

    code {
        border-radius: 0.5rem;
        display: block;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 2.75rem;
        padding: 0.75rem 1rem;
    }

    &.feature code {
        background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 0.2) 100%);
        color: $fore;
        text-shadow: 0.125rem 0.125rem 0.25rem #000;
    }
}

// Header & Navigation Elements
////////////////////////////////

header {
    background: $dark;
    background: $grad;
    text-align: center;

    a {

        &:link,
        &:visited {
            color: $fore;
            text-decoration: none;
        }

        &:link:active,
        &:link:hover,
        &:visited:active,
        &:visited:hover {
            color: lighten($fore, 10);
        }
    }

    h1 {
        font-size: 4rem;
        font-weight: 900;
        margin: 0;
        padding: 2rem 0 1rem;
    }

    input,
    label {
        color: $lite;
        display: none;
    }
}

nav {
    a {
        @include button;
        display: block;
        padding: 0.25rem 0.75rem;
        margin: 0;
    }

    li {
        display: inline-block;
        margin: 0 0.125rem;
    }

    ul {
        list-style-type: none;
        padding: 0 0 1rem 0;
        text-align: center;
    }
}

// Custom Elements
///////////////////

a.button {
    @include button;
}

div.meta {
    color: $lite;
}

div.navs {
    margin: 1rem 0;

    a {
        @include button;

        &.left {
            float: left;
        }

        &.right {
            float: right;
        }
    }

    br {
        clear: both;
    }
}

div.list li span {
    color: $lite;
    float: right;
}

h2~div.meta {
    margin: -0.5rem 0 1rem;
}

p.themes {
    text-align: center;

    a {
        margin: 0.125rem;
    }
}

table.tags {
    border-collapse: collapse;
    width: 100%;

    a {
        margin: 0.125rem;
    }

    td {
        padding: 1rem 0;
    }

    td:first-child {
        font-size: 1.25rem;
        padding: 1rem 0;
        text-align: center;
        width: 10%;
    }

    tr:not(:last-child) {
        border-bottom: 0.25rem solid $dark;
    }
}

// Footer Elements
///////////////////

footer {
    color: $lite;
    text-align: center;

    p {
        margin: 0.5rem;
    }
}
