/*** Article Content Styles ***/

article pre {
    background-position: center;
    background-size: cover;
    padding: 0;
}

article code {
    display: block;
    font-size: 1.2rem;
    line-height: 2.5rem;
    padding: 0.5rem 1rem;
}

article .cloud {
    line-height: 2rem;
}

article .cloud span  {
    display: inline-block;
    margin: 0 0.5rem;
}

article li .meta {
    float: right;
}

article h2 + div {
    margin-top: -0.5rem;
}
