/*** Print Media Query ***/

@media print {
    * {
        background-image: none !important;
        background: white !important;
        border-color: black !important;
        color: black !important;
        text-shadow: none !important;
    }
}
