/*** Light Theme Media Query ***/

@media (prefers-color-scheme: light) {
    html, body {
        background-color: #fff;
        color: #303336;
    }

    a:link {
        color: #26598c;
    }

    a:visited {
        color: #59268c;
    }

    a:link:active, a:link:hover {
        color: #5689cc;
    }

    a:visited:active, a:visited:hover {
        color: #8956cc;
    }

    hr {
        border: 0.1rem solid #bbb;
    }

    img, pre {
        border: 0.1rem solid #bbb;
    }

    header h1 a:link, header h1 a:visited {
        color: #303336;
        text-decoration: none;
    }

    header h1 a:link:active, header h1 a:link:hover,
    header h1 a:visited:active, header h1 a:visited:hover {
        color: #505356;
        text-decoration: underline;
    }

    header label {
        color: #777;
    }

    nav a:link, nav a:visited {
        background: #eee;
        color: #303336;
        text-decoration: none;
    }

    nav a:link:active, nav a:link:hover,
    nav a:visited:active, nav a:visited:hover {
        background: #303336;
        color: #eee;
    }

    article .meta, footer {
        color: #777;
    }
}
