/*** Mobile Media Query ***/

@media (max-width: 700px) {
    header h1 {
        font-size: 2rem;
        margin: 0;
        padding: 1rem 0 0.5rem;
    }

    header input:checked ~ nav {
        max-height: 100%;
    }

    header input:checked ~ label::after {
        content: " -";
    }

    header label {
        color: #aaa;
        cursor: pointer;
        display: inline-block;
        font-size: 1.25rem;
        margin-top: 0.75rem;
    }

    header label::after {
        content: " +";
    }

    nav {
        font-size: 1.25rem;
        margin: 0;
        max-height: 0;
        overflow: hidden;
    }

    nav a {
        display: block;
        padding: 1rem;
        width: 100%;
    }

    nav li {
        display: block;
        margin: 1rem auto;
    }

    nav ul {
        margin: 0;
    }

    article li .meta {
        display: block;
        float: none;
    }
}
