@media (max-width: 700px) {
    header {
        h1 {
            font-size: 1.5rem;
            padding: 0.5rem;
        }

        label {
            background-color: transparent;
            color: #fff;
            display: block;
            font-size: 2rem;
            margin: 0 0 0.5rem 0;
        }

        input:checked ~ nav {
            max-height: 100%;
        }
    }

    nav {
        max-height: 0;
        overflow: hidden;

        li {
            display: block;
        }

        ul {
            margin: 0 0 0.5rem 0;
        }
    }
}

@media print {
    * {
        background-color: #fff !important;
        color: #000 !important;
        background-image: none !important;
        text-shadow: none !important;
    }

    input, label, nav {
        display: none !important;
    }
}
