/*** Dark Theme Media Query ***/

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #303336;
        color: #eee;
    }

    a:link {
        color: #6699dc;
    }

    a:visited {
        color: #9966dc;
    }

    a:link:active, a:link:hover {
        color: #96c9fc;
    }

    a:visited:active, a:visited:hover {
        color: #c996fc;
    }

    hr {
        border: 0.1rem solid #444;
    }

    img, pre {
        border: 0.1rem solid #444;
    }

    header h1 a:link, header h1 a:visited {
        color: #eee;
        text-decoration: none;
    }

    header h1 a:link:active, header h1 a:link:hover,
    header h1 a:visited:active, header h1 a:visited:hover {
        color: #fff;
        text-decoration: underline;
    }

    header label {
        color: #aaa;
    }

    nav a:link, nav a:visited {
        background: #505356;
        color: #eee;
        text-decoration: none;
    }

    nav a:link:active, nav a:link:hover,
    nav a:visited:active, nav a:visited:hover {
        background: #eee;
        color: #505356;
    }

    article .meta, footer {
        color: #aaa;
    }
}
