/*** Colour Theme Media Queries ***/

@mixin theme($back, $fore, $blue, $purp, $grey, $fade) {
    html {
        background: $back;
        color: $fore;
    }

    a {
        @include anchor($blue, $purp, lighten($blue, 20), lighten($purp, 20), true);
    }

    blockquote, hr, img, pre {
        border: 0.25rem solid $fade;
    }

    header h1 a {
        @include anchor($grey, $grey, $fore, $fore, false);
    }

    header label, .meta, footer {
        color: $grey;
    }

    nav a, a.button {
        @include button($fore, $back, $fade, $grey);
    }

    .meta a {
        @include anchor($grey, $grey, $fore, $fore, true);
    }
}

@media (prefers-color-scheme: light) {
    @include theme(#fff, #303336, #369, #936, #666, #ccc);
}


@media (prefers-color-scheme: dark) {
    @include theme(#303336, #eee, #69c, #c69, #aaa, #444);
}
