/*** Colour Theme Media Queries ***/

@mixin theme($back, $fore, $blue, $purp, $grey, $fade) {
    html {
        background: $back;
        color: $fore;
    }

    a {
        @include anchor($blue, $purp, lighten($blue, 20), lighten($purp, 20), true);
    }

    blockquote, hr, img, pre {
        border: 0.25rem solid $fade;
    }

    header h1 a {
        @include anchor($fore, $fore, $grey, $grey, false);
    }

    header label, .meta, footer {
        color: $grey;
    }
}

@media (prefers-color-scheme: light) {
    @include theme(#fff, #303336, #369, #639, #666, #ccc);
    nav a, a.button {
       @include button(#fff, #fff, #369);
    }
}


@media (prefers-color-scheme: dark) {
    @include theme(#000, #eee, #69c, #a6c, #bbb, #444);
    nav a, a.button {
        @include button(#eee, #000, #147);
    }
}
