*, :after, :before {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font: 16px Helvetica, sans-serif;
    line-height: 1.6rem;
}

hr {
    border: 0;
    height: 1px;
    margin: 0;
    padding: 0;
}

#head {
    color: #888888;
    margin: 1rem;

    a {
        margin: 0 0.25rem;
    }
}

#body {
    margin: 1rem;

    pre {
        border-left: 1px solid;
        margin: 1rem 0;
        padding: 1rem;

        code {
            font: 1rem Helvetica, sans-serif;
            line-height: 2em;
        }
    }

    ul {
        padding-left: 1rem;
        line-height: 2rem;
    }

    .meta {
        color: #888888;
    }
}

#foot {
    color: #888888;
    margin: 1rem;
}

@mixin colour($back, $fore, $blue, $purp, $grey) {
    body {
        background: $back;
        color: $fore;
    }

    a:link {
        color: $blue;
    }

    a:visited {
        color: $purp;
    }

    hr {
        background-color: $grey;
    }

    #body pre {
        border-color: $grey;
    }
}

@media (prefers-color-scheme: light) {
    @include colour(#ffffff, #000000, #306090, #603090, #dddddd);
}

@media (prefers-color-scheme: dark) {
    @include colour(#000000, #ffffff, #90c0f0, #c090f0, #222222);
}

@media (max-width: 500px) {
    #head {
        margin: 0.5rem;
        text-align: center;

        strong:first-of-type {
            display: block;
            margin: 0.25rem;
        }

        span:first-of-type {
            display: none;
        }
    }

    #foot {
        text-align: center;
    }
}
