/*** Style Variables ***/
$back: #fff;
$fore: #000;
$grey: #666;
$fade: #ddd;
$blue: #258;
$purp: adjust-hue($blue, 60);
$blue-lite: lighten($blue, 20);
$purp-lite: lighten($purp, 20);

/*** Global Styles ***/

*, :after, :before {
    box-sizing: border-box;
}

body {
    background: $back;
    color: $fore;
    margin: 0;
    padding: 0;
}

body, code {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.6rem;
}

/*** Anchor Styles ***/

a:link, a:visited {
    color: $blue;

    &:active, &:focus, &:hover {
        color: $blue-lite;
    }
}

article a:visited {
    color: $purp;

    &:active, &:focus, &:hover {
        color: $purp-lite;
    }
}

/*** Element Styles **/
header {
    background-color: #336699;
    background-image: url("/cloud.svg");

    color: $back;
    text-align: center;

    h1 {
        margin: 0;
        padding-top: 1rem;

        a:link, a:visited {
            background: none;
            color: $back;
            text-decoration: none;

            &:active, &:focus, &:hover {
                background: none;
                color: $back;
                text-decoration: underline;
            }
        }
    }
}

nav {
    ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }

    li {
        display: inline-block;
        padding: 0;

        a:link, a:visited {
            display: block;
            font-weight: bold;
            background: none;
            color: $back;
            padding: 0.25rem 0.75rem;
            text-decoration: none;

            &:active, &:focus, &:hover {
                background: $back;
                color: $blue;
            }
        }
    }
}

main {
    margin: 0 auto;
    max-width: 44rem;
    padding: 0 1rem;
    width: 100%;

    pre {
        border-left: 0.1rem solid $fade;
        padding: 0.5rem 1rem;
        line-height: 2em;
    }

    ol, ul {
        padding-left: 1rem;
        line-height: 2rem;

        li::marker {
            color: $fade;
        }
    }

    #alert {
        padding: 0.25rem 1rem;
        text-align: center;
    }

    .cloud a {
        line-height: 2rem;
        margin: 0.25rem;
    }

    .meta {
        color: $grey;
    }
}

footer {
    color: $grey;
    margin-top: 1rem;
    text-align: center;
}
