@mixin theme($back, $fore, $grey, $fade, $blue, $purp) {
    body {
        background-color: $back;
        color: $fore;
    }

    a:link, a:visited {
        color: $blue;

        &:active, &:hover {
            color: lighten($blue, 20);
        }
    }

    article a:visited {
        color: $purp;

        &:active, &:hover {
            color: lighten($purp, 20);
        }
    }

    main {
        hr {
            border: 0.1rem solid $fore;
        }

        pre {
            background-color: $fade;
            background-image: url("/cloud.svg");
        }

        ol, ul li::marker {
            color: $grey;
        }
    }

    footer {
        color: $grey;
    }

    .alert {
        background-color: $fade;
        background-image: url("/cloud.svg");
    }

    .meta {
        color: $grey;
    }

}

@media (prefers-color-scheme: light) {
    @include theme(#fff,
        #000,
        #666,
        #f4f8fc,
        #258,
        #528,
    );
}

@media (prefers-color-scheme: dark) {
    @include theme(#000,
        #fff,
        #aaa,
        #04080c,
        lighten(#258, 40),
        lighten(#528, 40),
    );
}
