/*** Colour Theme Media Queries ***/

@mixin anchor($blue, $purp, $blue-hi, $purp-hi, $deco) {
    &:link {
        color: $blue;
    }

    &:visited {
        color: $purp;
    }

    &:link:active,
    &:link:hover {
        color: $blue-hi;
        text-decoration: underline;
    }

    &:visited:active,
    &:visited:hover {
        color: $purp-hi;
        text-decoration: underline;
    }

    @if $deco {

        &:link,
        &:visited {
            text-decoration: underline;
        }

    }

    @else {

        &:link,
        &:visited {
            text-decoration: none;
        }
    }
}

@mixin theme($back, $fore, $bord, $grey, $blue, $purp, $blue-hi, $purp-hi) {
    html {
        background: $back;
        color: $fore;
    }

    body a {
        @include anchor($blue, $purp, $blue-hi, $purp-hi, true);
    }

    header h1 a {
        @include anchor($fore, $fore, $grey, $grey, false);
    }

    footer a {
        @include anchor($grey, $grey, $fore, $fore, true);
    }

    header label,
    .meta,
    footer {
        color: $grey;
    }

    body {

        blockquote,
        pre {
            border: 0.1rem solid $bord;
        }

        hr {
            border: none;
            border-bottom: 0.1rem solid $bord;
        }

        table.tags tr:not(:last-child) {
            border-bottom: 0.1rem solid $bord;
        }
    }
}

@media (prefers-color-scheme: light) {
    @include theme(#fff, #222, #ddd, #777, #369, #639, #58b, #85b);
}

@media (prefers-color-scheme: dark) {
    @include theme(#000, #eee, #333, #aaa, #8bd, #b8d, #69b, #96b);
}
