{{ define "main" }}
{{ $posts := (where .Site.RegularPages "Type" "posts") | first 15  }}
{{ $first := index $posts 0 }}

<article>
    {{ with .Site.Params.alert }}
    <div class="alert">
        {{ . | $.RenderString }}
    </div>
    {{ end }}

    <div class="index">
        {{ .Site.Params.intro | safeHTML   }}
    </div>

    {{ with partial "haiku.html" $first }}
    <div class="index">
        <h2>
            Latest Post:
            {{ partial "link.html" $first }}
            {{ partial "emoji.html" $first }}
        </h2>
        {{ . }}
        <p> <a href="{{ $first.RelPermalink }}">Read more &rarr;</a> </p>
    </div>
    {{ end }}

    <div class="index">
        <h2> Latest <a href="/pages/archives">Archives</a> </h2>
        <ul>
            {{ range after 1 $posts }}
            <li>
                {{ partial "link.html" . }}
                {{ partial "emoji.html" . }}
                ({{ partial "date.html" . }})
            </li>
            {{ end }}
        </ul>
    </div>
</article>

{{ end }}
