{{ define "main" }}

<article>
    {{ with .Site.Params.alert }}
    <div class="alert">
        {{ . | $.RenderString }}
    </div>
    {{ end }}

    {{ $opts := dict "display" "block" }}
    {{ .Site.Params.intro | .RenderString $opts }}

    {{ $posts := (where .Site.RegularPages "Type" "posts") | first 15  }}
    {{ $first := index $posts 0 }}

    {{ with partial "haiku.html" $first }}
    <h2>
        Latest Post:
        {{ partial "link.html" $first }}
        {{ partial "emoji.html" $first }}
    </h2>
    {{ . }}
    <p> <a href="{{ $first.RelPermalink }}">Read more &rarr;</a> </p>
    {{ end }}

    <h2> Latest <a href="/pages/archives">Archives</a> </h2>
    <ul>
        {{ range (after 1 $posts) }}
        <li>
            {{ partial "link.html" . }}
            {{ partial "emoji.html" . }}
            ({{ partial "date.html" . }})
        </li>
        {{ end }}
    </ul>
</article>

{{ end }}
